<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="student" class="com.bhawnagunwani.models.Student">
		<property name="name" value="Bhawna Gunwani" />
	</bean>
	
	<bean id="employee" class="com.bhawnagunwani.models.Employee">
		<constructor-arg value="John Smith" type="String" />
	</bean>
	
	<bean id="employee1" class="com.bhawnagunwani.models.Employee">
		<constructor-arg value="1001" type="int" />
		<constructor-arg value="John Smith" type="String" />
	</bean>

</beans>